[Unit]
Description=FitcamX Dashcam Crawler
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=120
StartLimitAction=reboot

[Service]
EnvironmentFile=/etc/fitcamx-crawler.conf
Type=exec
User=${USER}
WorkingDirectory=${DATA_DIR}
ExecStart=${VENV_DIR}/bin/python3 ${PROJECT_ROOT}/main.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
