ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=DK

# HOVEDPRIORITET: Kameraets WiFi
# Pi'en vil febrilsk droppe internettet og hoppe på dette netværk, så snart det ses!
network={
    ssid="MyVideoCameraWiFi"
    psk="kameraets-kodeord"
    priority=10
}

# SEKUNDÆR PRIORITET: Dit Hjemme-WiFi / Upload-netværk
# Bruges som standard, når kameraet er slukket eller uden for rækkevidde.
network={
    ssid="MitHjemmeInternet"
    psk="dit-hjemme-kodeord"
    priority=5
}

# EKSTRA BACKUP (Valgfrit): Telefonens Hotspot
# Hvis du er på farten og vil uploade via din telefon.
network={
    ssid="MinMobilHotspot"
    psk="mobil-kodeord"
    priority=4
}
