[Unit]
Description=FitcamX Dashcam Crawler
# Make sure the network stack is up before launching
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=120
StartLimitAction=reboot

[Service]
Environment='CAMERA_SSID=CAR-DJ94228'
Environment='VIDEO_RECORDING_WINDOW=2'
Environment='VIDEO_EXTENDED_LOCK_WINDOW=3'
Environment='UPLOAD_TARGET=gs://your-bucket'
Type=exec
User=fitcamx-crawler
WorkingDirectory=/var/fitcamx-crawler/
ExecStart=/opt/fitcamx-crawler/.venv/bin/python3 main.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
